@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.Heading1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.Heading2 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.Heading3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.Heading4 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.Headline {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.Body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.Body-600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.Caption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
}